@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina|Work+Sans&display=swap');
*{
  font-family: 'Work Sans', sans-serif;

}
h1{
  font-family: 'Baloo Bhaina', cursive;
  // color: #ff72c4;
  color:white;
  font-size:4em;
}
h2{
  font-family: 'Baloo Bhaina', cursive;
  // color: #ff72c4;

  font-size:2em;
}
