#banner{
  padding-top: 30vh;
background-image: url(../images/thai.jpg);
height: 100vh;
width: 100%;
background-size: cover;
  .btn{
    color:white;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
